{{- if isset .Site.Params "giscus" -}}
    <div class="comments-giscus" style="
    max-width: 840px;
    margin: 0 auto;
    padding: 0 16px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    ">
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const giscusAttributes = {
                    "src": "https://giscus.app/client.js",
                    "data-repo": "{{ .Site.Params.giscus.repo }}",
                    "data-repo-id": "{{ .Site.Params.giscus.repoID }}",
                    "data-category": "{{ .Site.Params.giscus.category }}",
                    "data-category-id": "{{ .Site.Params.giscus.categoryID }}",
                    "data-mapping": "{{ .Site.Params.giscus.mapping }}",
                    "data-strict": "{{ .Site.Params.giscus.strict }}",
                    "data-reactions-enabled": "{{ .Site.Params.giscus.reactionsEnabled }}",
                    "data-emit-metadata": "{{ .Site.Params.giscus.emitMetadata }}",
                    "data-input-position": "{{ .Site.Params.giscus.inputPosition }}",
                    "data-theme": getGiscusTheme(),
                    "data-lang": "{{ .Site.Params.giscus.lang }}",
                    "data-loading": "{{ .Site.Params.giscus.loading }}",
                    "crossorigin": "{{ .Site.Params.giscus.crossOrigin }}",
                    "async": "",
                }

                // Dynamically create script tag
                const giscusScript = document.createElement("script")
                Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value))
                document.querySelector('.comments-giscus').appendChild(giscusScript)
            })
        </script>
        <noscript><p>Apologies, but the giscus-powered comments require JavaScript to view.  Sorry!</p></noscript>
    </div>
{{- end -}}